<!DOCTYPE html>
%html
  %head
    %meta{:charset => "UTF-8", :content => "text/html", 'http-equiv' => 'Content-Type'}
  %body
    %h1 Welcome To Bookstore!
    %p You have successfully signed up. Thanks for joining us!
    %p You can log in using the password: #{@psw}
    %p You can change this password anytime
