// Load variables

@import "variables";

.navbar-default {
  box-shadow: 0 5px 18px 2px rgba(1, 1, 1, 0.1);
}
.navbar-brand {
  font-size: $font-size-base;
}
.navbar-brand.bold {
  text-decoration: none;
}
.navbar-toggle {
  margin-left: 15px;
  .icon-bar:nth-child(3) {
    width: 17px;
  }
}
.navbar-nav .open .dropdown-menu {
  left: -65px;
}
.dropdowns {
  .dropdown-toggle {
    width: 100%;
    border: 1px solid $grey-200;
    display: inline-block;
    padding: 10px 15px;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $grey-600;
    }
  }
  .dropdown-icon {
    font-size: 18px;
    color: $grey-600;
  }
  .dropdown-menu {
    width: 100%;
  }
}
.dropdown-menu {
  min-width: 210px;
  > li > a {
    font-weight: 300;
    padding: 8px 30px;
    white-space: unset;
    word-break: break-word;
  }
}
.carousel {
  margin-left: -15px;
  margin-right: -15px;
  background-color: $grey-200;
}
.carousel-control {
  background-image: unset !important;
  .icon-prev {
    left: 25%;
  }
  .icon-next {
    right: 25%;
  }
}
.lead {
  color: $grey-600;
  word-break: break-word;
}
.small {
  font-size: $font-size-base;
}
.btn {
  max-width: 100%;
  font-size: $font-size-small;
  padding-left: 32px;
  padding-right: 32px;
  white-space: unset;
  &:active,
  .active {
    box-shadow: none;
  }
  &.disabled,
  &[disabled] {
    color: white;
    background-color: $grey-600;
  }
}
.btn-primary,
.btn-default {
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:hover,
  &.hover {
    opacity: 0.6;
  }
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: $grey-600;
  margin-right: 4px;
  margin-left: 4px;
  &.active {
    width: 6px;
    height: 6px;
    margin: 1px 4px;
  }
}
.item {
  padding: 15px 12px 0;
}
.jumbotron p {
  color: $grey-600;
}
.thumbnail {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.thumbnail:hover,
.thumbnail:focus,
.thumbnail.active {
  border-color: transparent;
  .thumb-hover {
    opacity: 1;
  }
}
.thumbnail.disabled,
.thumbnail[disabled] {
  opacity: 0.6;
  .thumb-hover {
    display: none;
  }
}
.navbar-inverse {
  padding-top: 30px;
  padding-bottom: 30px;
}
.table {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding-left: 0;
      }
    }
  }
}

.shop-link {
  display: inline-block;
  padding-top: 8px;
  margin: 23px 15px;
  position: relative;
}
.shop-icon {
  min-width: 22px;
  min-height: 27px;
  color: $shop-icon-bg;
  display: inline-block;
  border: 2px solid currentColor;
  position: relative;
  padding: 2px 7px;
  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:empty {
    background-color: transparent;
  }
  &.full-cart {
    background-color: $shop-icon-bg;
  }
}
.shop-quantity {
  font-size: $font-size-small;
  color: white;
}
.general-thumb-link-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb-hover {
  background-color: $thumbnail-hover-bg;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: $thumbnail-hover-transition;
}
.thumb-hover-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  font-size: 20px;
  border: 2px solid rgba($grey-200, 0.4);
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  &:hover {
    background-color: $grey-200;
    .thumb-icon {
      color: $gold-500;
    }
  }
}
.thumb-hover-link.submit {
  background: transparent;
  background-image: none;
  border-radius: initial;
  & .thumb-icon {
    text-shadow: none;
  }
  &:hover {
    background-color: $grey-200;
    background-image: none;
    .thumb-icon {
      color: $gold-500;
    }
  }
}

.thumb-icon {
  font-size: 16px;
  color: white;
  line-height: 36px;
}
.title {
  font-size: $font-size-large;
  word-break: break-word;
}
.divider-sm {
  width: 30px;
  height: 2px;
  display: inline-block;
  background-color: $grey-900;
  margin-bottom: 10px;
}
.nav-link {
  font-size: $font-size-small;
  color: $grey-600;
  &:hover {
    color: $gold-500;
    text-decoration: none;
  }
  &:first-child {
    padding-left: 0;
  }
}
a.filter-link {
  font-size: $font-size-base!important;
  color: $grey-600!important;
  display: inline-block!important;
  position: relative!important;
  cursor: pointer!important;
  margin-bottom: 10px!important;
  text-decoration: none!important;
  &:hover {
    color: $grey-900!important;
    text-decoration: none!important;
  }
}
a.filter-link.selected {
  color: #333!important;
  font-weight: bold;
}
.input-link {
  font-size: $font-size-base;
  color: $grey-350;
  display: inline-block;
  float: left;
  &:hover,
  &:focus {
    color: $grey-350
  }
}
.quantity-input {
  max-width: 40px;
  text-align: center;
  padding: 8px 10px;
  margin-left: 12px;
  margin-right: 12px;
}
.logo-max {
  max-width: unset;
}
.logo-size {
  width: 55px;
  height: 55px;
}
.logo-empty {
  font-size: $font-size-large;
  color: white;
  text-align: center;
  background-color: $grey-350;
  line-height: 55px;
}
.collapse-link {
  font-size: $font-size-base;
  color: $grey-600;
  font-weight: 300;
  line-height: 2.2;
  &:hover {
    color: $gold-500;
    text-decoration: none;
  }
}
.rate-star {
  font-size: 17px;
  color: $gold-500
}
.rate-empty {
  color: $grey-350;
}
.divider-lg {
  position: relative;
  &:before {
    content: '';
    height: 1px;
    position: absolute;
    background-color: $grey-200;
    top: 0;
    left: 0;
    right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  &:last-child:after {
    bottom: 0;
    top: unset;
    @extend .divider-lg:before;
  }
}
.divider-lg-bottom {
  position: relative;
  &:after {
    content: '';
    height: 1px;
    position: absolute;
    background-color: $grey-200;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
}
.images {
  margin-left: -10px;
  margin-right: -10px;
}
.img-link {
  width: calc( (100% - 60px) / 3);
  float: left;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.input-label {
  font-size: $font-size-base;
  color: $grey-900;
  font-weight: 300;
}
.step-number {
  width: 35px;
  height: 35px;
  font-size: $font-size-base;
  color: $grey-900;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
  display: inline-block;
  border: 2px solid $gold-500;
  border-radius: 50%;
}
.step-text {
  font-size: $font-size-base;
  color: $grey-600;
  font-weight: 300;
  margin-left: 10px;
}
.steps .step {
  position: relative;
  margin: 0 10px 10px;
  padding-right: 0;
  padding-left: 0;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }
}
.steps .step-divider {
  position: relative;
  vertical-align: middle;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 2px;
    display: block;
    background-color: $grey-200;
  }
}
.active,
.done {
  .step-number {
    color: white;
    background-color: $gold-500;
  }
  .step-text {
    color: $grey-900;
  }
  .step-icon {
    font-size: 12px;
  }
}
.checkbox label {
  min-height: 24px;
  font-weight: 300;
  padding-left: 0;
}
.checkbox-icon {
  $size: 24px;
  width: $size;
  height: $size;
  font-size: 10px;
  color: white;
  line-height: $size;
  text-align: center;
  display: inline-block;
  border: 1px solid $grey-350;
  margin-right: 15px;
}
.checkbox-input:checked + .checkbox-icon {
  background-color: $gold-500;
  border-color: transparent;
}
.radio label {
  min-height: 24px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 0;
}
.radio-icon {
  $size: 24px;
  width: $size;
  height: $size;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $grey-350;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  &:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $grey-900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
.radio-input:checked + .radio-icon {
  background-color: transparent;
  border-color: $grey-900;
  &:after {
    opacity: 1;
  }
}
.tab-item {
  float: left;
  margin-bottom: 10px;
}
.tab-link {
  font-size: 14px;
  color: $grey-600;
  &:hover,
  &:focus {
    color: $grey-900;
  }
}



@media (min-width: $grid-float-breakpoint) {
  .navbar-nav {
    float: right;
  }
  h1,
  .h1 {
    font-size: $font-size-h1-large;
  }
  .table {
    table-layout: fixed;
    border-bottom-color: transparent;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:last-child,
        > td:last-child  {
          text-align: right;
        }
        > th,
        > td {
          padding: 20px;
        }
        > td {
          border-bottom: 1px solid $grey-200;
        }
      }
    }
  }
  .shop-link {
    margin-right: 0;
  }
  .navbar-nav .open .dropdown-menu {
    box-shadow: 0 5px 18px 2px rgba(1, 1, 1, 0.03);
  }
  .item {
    padding-left: 35px;
    padding-right: 35px;
  }
  .carousel {
    margin-left: 0;
    margin-right: 0;
  }
  .carousel-indicators {
    width: 7%;
    min-width: 50px;
    left: 90%;
    margin-left: 0;
  }
  .carousel-control {
    .icon-prev {
      left: 15%;
    }
    .icon-next {
      right: 15%;
    }
  }
  .divider-lg {
    &:before,
    &:last-child:after {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .tab-item:first-child .tab-link {
    padding-left: 0;
  }
}

@media (min-width: $screen-md-min) {
  .step-text {
    margin-right: 10px;
  }
  .steps {
    .step {
      margin-left: 10px;
      margin-right: 65px;
    }
    .step-divider:after {
      width: 80px;
    }
  }
}

.custom-btn {
  background-color: #333;
  border: none;
  border-radius: initial;
  width: 45%; 
  font-size: 11px;
}

.form-control.auth {
  margin-bottom: 35px;
}

.options-proposition {
  margin: 35px;
}

.orange {
  color: #c59c71;
}

.navbar-brand.bold {
  font-weight: bold;
}

.instructions {
  margin: 20px;
  font-size: 16px;
}

.cancel {
  margin: 20px;
}

.img-container {
  height: 350px;
}

.lead.description {
  height: 135px;
  font-size: 18px;
}

.slide-titile {
  height: 125px;
}

@media (min-width: $screen-sm-min) {
  .carousel.slide, .best-sellers-container {
    width: 90%;
    margin: 0 auto;
  }
  .best-seller-item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: $screen-sm-min) {
  .carousel.slide, .best-sellers-container {
    padding: 0 15px;
  }
}

.jumbotron.text-center.mb-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mb-res-50.message {
  max-width: 520px;
}

.btn.btn-default.button-link, .btn.btn-primary.button-link{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

#hidden-view-more {
  position: absolute;
}

.dropdown-menu.custom-dropdown {
  position: absolute;
  top: 0;
  width: inherit;
}

.no-decoration {
  font-size: $font-size-base!important;
  color: $grey-600!important;
  cursor: pointer!important;
  text-decoration: none!important;
  &:hover {
    color: $grey-900!important;
    text-decoration: none!important;
  }
  &.hover-red:hover {
    color: $gold-500 !important;
  }
}

@media (max-width: $screen-sm-min) {
  .navbar-default #navbar {
    border-color: transparent;
    position: absolute;
    top: 0;
    background: white;
    z-index: 1;
    width: 50%;
    min-width: 250px;
    box-shadow: 0 5px 18px 2px rgba(1, 1, 1, 0.1);
  }
}

.main-cover {
  display: flex;
  justify-content: center;
  & .img-responsive {
    height: 350px;
  }
}

.images.clearfix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .book-image {
    width: 30%;
  }
}

.input-group.general-position {
  display: flex;
  align-items: center;
}

.read-more {
  color: $gold-500;
  cursor: pointer;
}

.reviews-tabs {
  width: 250px;
  display: flex;
  justify-content: space-between;
  & .tab-container {
    width: 50%;
    cursor: pointer;
  }
  & .tab-container.selected-tab {
    border-bottom: 2px solid $gold-500;
  }
}

.link-tab {
  text-decoration: none !important;
  color: #333 !important;
  &:hover {
    color: #333;
  }
  &.selected-tab {
    color: $gold-500 !important;
  }
}

.no-user-review {
  margin: 25px 0;
}

.new-review-container {
  margin: 20px 0;
  width: 100%;
  max-width: 650px;
  color: $grey-600;
}

.score-label {
  color: $grey-600;
  margin: 10px 0;
}

.score-stars {
  width: 115px;
}

.star {
  color: grey;
  float: right;
  font-size: 17px;
  margin: 3px;
  &:hover {
    cursor: pointer;  
  }
}

.star:hover ~ .star, .star:hover {
  color: $gold-500;
}

.selected-star {
  color: $gold-500;
}

#new_review {
  display: flex;
  flex-direction: column;
}

.label-score {
  display: flex;
}

fieldset, label { margin: 0; padding: 0; }

.rating { 
  border: none;
  float: left;
  margin-bottom: 0;
  padding: 10px 0 0;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { 
  color: $gold-500;  
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { 
  color: $gold-500;  
}

.reviews-container {
  margin: 20px 0; 
}

.absent-avatar {
  background: $grey-350;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

i.fa.fa-star {
  color: $grey-350;
  &.rate-star {
    color: $gold-500;
  }
}

.increment, .decrement {
  color: #38678b;
  cursor: pointer;
}

#review_title {
  width: 100%;
  margin-top: 10px;
  border-radius: unset;
}

#review_text {
  margin-top: 10px;
  resize: none;
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  & input[type="submit"] {
    width: 150px;
    height: 40px;
    border-radius: unset;
    background: $grey-350;
    border: none;
    box-shadow: none;
    text-shadow: none;
  }
}

.review-error {
  color: #b7180c;
}

.stop-reviews, .success-msg {
  margin: 20px 0;
}

.shop-icon-container.visible-xs {
  margin: 0 15px;
}

.shop-icon-container.hidden-xs {
  margin-bottom: 5px;
}

.quantity-link {
  text-decoration: none !important;
  font-size: 28px;
  font-weight: bold;
}

.close.general-cart-close {
  background: transparent;
  border: none;
  font-size: 26px;
  color: $grey-900;
  &:hover {
    background: transparent !important;
    background-image: none !important;
  }
}

.btn-title {
  font-weight: 400;
  font-size: 13px;
}

.guest-identify-title {
  color: $gold-500;
}

.general-login-icon.black {
  color: #333;
}

.orange.forgot_link {
  color: $gold-500;
  text-decoration: none;
}

.custom-btn.identify {
  display: block;
  width: 35%;
  min-width: 250px;
  margin: 20px 0;
}

.secondary-text {
  font-size: 12px;
  color: $grey-600;
}

.checkout-btn {
  width: 120px;
  color: white !important;
  text-decoration: none !important;
}

.tab-item.settings {
  & > a {
    text-decoration: none;
    color: $grey-600;
  }

  &.active > a {
    color: $grey-900;
  }
}

.active-settings-btn {
  background-image: none !important;
  background-color: $grey-900 !important;
  border-radius: initial !important;
  border: none !important;
  font-family: inherit !important;
  font-size: 12px !important;
  line-height: 20px !important;
  text-shadow: none !important;
  padding: 10px !important;
  width: 215px !important;
  &.narrow {
    width: 130px !important;
  }
}

.error-block {
  color: red;
  font-size: 11px;
}

.form-group.select {
  display: flex;
  flex-direction: column;
}

#billing_address_country, 
#shipping_address_country,
#order_address_billing_country,
#order_address_shipping_country {
  width: 75%;
  background: transparent;
  height: 38px;
  border: 1px solid #c9d0d6;
  border-radius: 3px;
}

ul.steps.list-inline {
  display: flex;
  align-items: center;
  justify-content: space-around;

  & .step {
    margin-bottom: 0 !important;
  }
}

.checkout-btn {
  width: 175px;
  background-image: none;
  background-color: #1e1e1c;
  color: #eeeeee !important;
  font-weight: 500 !important;
  text-shadow: none;
  &:hover {
    background-image: none !important;
    background-color: #1e1e1c !important;
    color: white !important;
  }
}

.redirect-to {
  margin: 50px;
  & .checkout-btn.link {
    text-decoration: none !important;
    padding: 12px 35px;
    margin: 10px;
  }
}

.delivery-header {
  display: flex;
  justify-content: space-around;
  color: $grey-600;
  & .header-item {
    width: 30%;
  }
}

.delivery-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $grey-200;
  &:hover {
    background: $grey-200;
  }
  & .item {
    width: 30%;
    padding: 20px 0;
    margin: 0;
    & .form-group {
      margin: 0;
    }
  }
}

.order-delivery-continer {
  & [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      display: none;
    }

  & [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #333;
  }
  & [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #c3c3c3;
    border-radius: 100%;
    background: #fff;
  }
  & [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #1e1e1c;
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  & [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  & [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  & .delivery-option {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}




@media (max-width: 768px) {
  .delivery-option {
    flex-direction: column;
    width: 75%;
  }
  .delivery-header {
    width: 25%;
  }
}

.payment-row {
  display: flex;
  width: 50%;
  min-width: 300px;
  & .form-group:first-child {
    width: 50%;
  }
  & .form-group:last-child {
    position: relative;
  }
  & .form-group input {
    width: 90%;
  }

  & .form-group .fa {
    right: 25px;
  }
}

.payment-number {
  width: 50%;
  min-width: 300px;
  & input {
    width: 97% !important;
  }
}

@media (max-width: 768px) {
  .payment-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    & .form-group:first-child {
      width: 100%;
    }
    & .form-group:last-child {
      position: relative;
    }
    & .form-group input {
      width: 100%;
    }

    & .form-group .fa {
      right: 15px;
    }
  }

  .payment-number {
    width: 100%;
    min-width: 300px;
    & input {
      width: 100% !important;
    }
  }
}

.tooltip-card {
  width: 110px;
  height: 110px;
  background: rgba(100, 100, 100, .7);
  border-radius: 15%;
  color: white;
  font-size: 9px;
  padding: 9px;
  position: absolute;
  bottom: 35px;
  display: none;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgba(100, 100, 100, .7) transparent transparent transparent;
    position: relative;
    left: 65px;
    top: calc(100% + 19px);
  }
}

@media (max-width: 768px) {
  .tooltip-card {
    right: 0;
  }
}

.general-edit {
  text-decoration: none !important;
  color: $grey-600 !important;
}

.summary-info, .complete-info {
  padding-bottom: 30px;
  border-bottom: 1px solid $grey-200;
}

thead th {
  background: transparent !important;
}

.form-control.auth {
  width: 100% !important;
}

.order-details {
  cursor: pointer;
}
